<button *ngIf="buttonClass !== 'submit'; else submit"
        (mouseenter)="elevate()"
        (mouseleave)="reelevate()"
        (click)="onClick($event)"
        [ngStyle]="getStyles"
        [ngClass]="getClasses">
  <ng-container [ngSwitch]="buttonClass">
    <p *ngSwitchCase="'text'" (click)="$event.stopPropagation(); passEventToParent($event)">{{text}}</p>
    <input *ngSwitchCase="'password'" (keyup)="detectInputPassChanges($event)" maxlength="4" type="password"/>
    <p *ngSwitchCase="'icon'" class="icon icon-{{icon}}">{{text}}</p>
    <p *ngSwitchDefault (click)="$event.stopPropagation(); passEventToParent($event)">{{text}}</p>
  </ng-container>
</button>
<ng-template #submit>
    <button type="submit" [ngStyle]="getStyles" [ngClass]="getClasses" (click)="onSubmit()">{{text}}</button>
</ng-template>
