@import "~src/styles";

:host {
  height: 100%;

  section {
    min-width: 50px;

    background-color: $color-white;
    border-radius: 20px;
    @include shadow_base;
    margin: 0 auto $gutter;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: $gutter;
  }
}
