
$total-transparent: rgba(0,0,0,0);

$color-theme-background: #F3F3F3;

$color-theme-dark-blue: #005D6D;
$color-theme-light-blue: #56aebe;
$color-theme-dark-grey: #4B4B4B;
$color-theme-light-grey: #C6C6C6;
$color-theme-lighter-grey: #DCDCDC;

$color-theme-primary: #2F8B9C;
$color-theme-secundary: #BF7C3F;

$color-green: #2E8C4F;
$color-red: #A12710;
$color-white: #FFFFFF;
$color-black: #000;


$color-theme-background-trans: rgba(243, 243, 243, 0.86);

$color-theme-dark-blue-trans: rgba(0, 93, 109, 0.85);
$color-theme-light-blue-trans: rgba(86, 174, 190, 0.85);
$color-theme-dark-grey-trans: rgba(75, 75, 75, 0.85);
$color-theme-light-grey-trans: rgba(198, 198, 198, 0.85);
$color-theme-lighter-grey-trans: rgba(220, 220, 220, 0.85);

$color-theme-primary-trans: rgba(47, 139, 156, 0.85);
$color-theme-secundary-trans: rgba(191, 124, 63, 0.85);

$color-green-trans: rgba(46, 140, 79, 0.85);
$color-red-trans: rgba(161, 39, 16, 0.85);
$color-white-trans: rgba(255, 255, 255, 0.85);
$color-black-trans: rgba(0, 0, 0, 0.86);
