
@font-face {
  font-family: 'homekeep';
  src:  url('~src/assets/icons/homekeep/homekeep.eot?9v1a0e');
  src:  url('~src/assets/icons/homekeep/homekeep.eot?9v1a0e#iefix') format('embedded-opentype'),
  url('~src/assets/icons/homekeep/homekeep.ttf?9v1a0e') format('truetype'),
  url('~src/assets/icons/homekeep/homekeep.woff?9v1a0e') format('woff'),
  url('~src/assets/icons/homekeep/homekeep.svg?9v1a0e#homekeep') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'homekeep', sans-serif !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bed:before {
  content: "\e901";
}
.icon-bin:before {
  content: "\e902";
}
.icon-book:before {
  content: "\e903";
}
.icon-books:before {
  content: "\e904";
}
.icon-box:before {
  content: "\e905";
}
.icon-camera:before {
  content: "\e906";
}
.icon-display:before {
  content: "\e907";
}
.icon-dropbox:before {
  content: "\e908";
}
.icon-droplet:before {
  content: "\e909";
}
.icon-file-text:before {
  content: "\e90a";
}
.icon-gift:before {
  content: "\e90b";
}
.icon-glass:before {
  content: "\e90c";
}
.icon-grid:before {
  content: "\e90d";
}
.icon-headphones:before {
  content: "\e90e";
}
.icon-home:before {
  content: "\e90f";
}
.icon-homekeep:before {
  content: "\e910";
}
.icon-image:before {
  content: "\e911";
}
.icon-key:before {
  content: "\e912";
}
.icon-keyboard:before {
  content: "\e913";
}
.icon-library:before {
  content: "\e914";
}
.icon-lifebuoy:before {
  content: "\e915";
}
.icon-menu:before {
  content: "\e916";
}
.icon-mic:before {
  content: "\e917";
}
.icon-microwave:before {
  content: "\e918";
}
.icon-music:before {
  content: "\e919";
}
.icon-newspaper:before {
  content: "\e91a";
}
.icon-oven:before {
  content: "\e91b";
}
.icon-paint-format:before {
  content: "\e91c";
}
.icon-pencil:before {
  content: "\e91d";
}
.icon-printer:before {
  content: "\e91e";
}
.icon-refrigerator:before {
  content: "\e91f";
}
.icon-trophy:before {
  content: "\e920";
}
.icon-tv:before {
  content: "\e921";
}
.icon-undo2:before {
  content: "\e922";
}
.icon-washing-machine:before {
  content: "\e923";
}
.icon-tick:before {
  content: "\e900";
}

.icon-cross:before {
  content: "\e924";
  font-size: 0.9rem;
  margin: 0.25rem;
}
