@import "../1-settings";

/**
GRADIENTS
 */
@mixin subheader-gradient {
  background: -moz-linear-gradient(-45deg, $color-theme-dark-blue 0%, $color-theme-light-blue 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, $color-theme-dark-blue 0%, $color-theme-light-blue 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, $color-theme-dark-blue 0%, $color-theme-light-blue 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-theme-dark-blue', endColorstr='$color-theme-light-blue', GradientType=1); /* IE6-9 fallback on horizontal gradient */

}


@mixin subheader-gradient-trans {
  background: -moz-linear-gradient(-45deg, $color-theme-dark-blue-trans 0%, $color-theme-light-blue-trans 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, $color-theme-dark-blue-trans 0%, $color-theme-light-blue-trans 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, $color-theme-dark-blue-trans 0%, $color-theme-light-blue-trans 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

@mixin error_text {
  fill: $color-red;
  color: $color-red;
}

@mixin success_text {
  fill: $color-green;
  color: $color-green;
}

@mixin error_border {
  border-color: $color-red;
}

@mixin success_border {
  border-color: $color-green;
}

@mixin error_fill {
  background-color: $color-red;
}

@mixin success_fill {
  background-color: $color-green;
}

@mixin error_all {
  @include error_text;
  @include error_border;
  @include error_fill;
}

@mixin success_all {
  @include success_text;
  @include success_border;
  @include success_fill;
}

@mixin transition_width_fast {
  transition: width .333s linear;
}

@mixin transition_background-color_fast {
  transition: background-color .333s linear;
}

@mixin shadow_base {
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
}
