<section class="homepage__section">
  <div class="homepage__container">
    <h1 class="homepage__title">HOMEKEEP</h1>
    <div class="homepage__subtitle--container">
      <i class="icon icon-homekeep"></i>
      <h2 class="homepage__subtitle--element">Welcome to your personal home inventory</h2>
      <app-validation [validationClass]="VALIDATION_CLASS">
        <app-default-button class="homepage__subtitle--element"
                            [buttonSize]="tapButtonSize"
                            [buttonType]="tapButtonType"
                            [buttonClass]="tapButtonClass"
                            [borderRadius]="30"
                            [text]="text"
                            [clickEvent]="clickEventHandler"
                            [inputPassChangeEvent]="handleChangeInputEventHandler"
                            [icon]="icon"
        >
        </app-default-button>
<!--        <app-default-button class="homepage__subtitle&#45;&#45;element"-->
<!--                            [buttonSize]="tapButtonSize"-->
<!--                            [buttonType]="tapButtonType"-->
<!--                            [buttonClass]="tapButtonClass"-->
<!--                            [borderRadius]="30"-->
<!--                            [text]="text"-->
<!--                            [icon]="icon"-->
<!--                            [clickEvent]="handleAuthClickEvent">-->

<!--        </app-default-button>-->
      </app-validation>
    </div>
  </div>
  <div class="homepage_gradient"></div>
</section>
