@import "~src/styles";

.header__container {
  display: none;
}

.homepage__container {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-image: url("~src/assets/images/homeage_bg.webp");
  background-size: 100vw 125vh;
  background-position: top;
  background-repeat: no-repeat;

  .homepage__title {
    z-index: 5;
    color: $color-white;
    width: 50%;
    margin: 25vh auto 0;
    text-align: center;
    grid-area: 1 / 1 / 2 / 6;
  }

  .homepage__subtitle--container {
    z-index: 5;
    display: flex;
    flex-direction: column;
    color: $color-white;
    grid-area: 2 / 2 / 3 / 5;
    align-items: center;
    margin-top: 25vh;
    margin-bottom: 25vh;

    h2 {
      text-align: center;
    }

    .homepage__subtitle--element {
      padding: $gutter;
    }
  }
}

.homepage_gradient {
  @include subheader-gradient-trans;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top:0;
  left: 0;
  z-index: 3;
}
