@import "~src/styles";

:host {
  height: 100%;
}

.rooms-overview--background-logo {
  position: absolute;
  top: 50%;
  width: 100%;
  color: $color-theme-light-grey;
  font-size: 5rem;
  text-align: center;
  z-index: 10;
  padding-right: $gutter * 2;
}

.rooms-overview--container {
  position: absolute;
  padding: $gutter;
  width: 100%;
  min-height: 70%;
  max-width: 100vw;
  top: 5rem;

  app-validation {
    margin-top: 2rem;
    text-align: center;
  }

  .rooms-overview--room-block-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: $gutter;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 15;

    .rooms-overview--room-block__add-room {
      ::ng-deep {
        section {
          background-color: $color-theme-lighter-grey;
        }

        p {
          color: $color-theme-primary;
        }
      }
    }

    .rooms-overview--room-block,
    .rooms-overview--room-block__add-room {
      position: relative;
      display: inline-block;
      width: 8rem;
      height: 100%;
      margin: $gutter;

      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }

      ::ng-deep {
        .rooms-overview--content-block {
          display: flex;
          position: relative;
          justify-content: space-between;
          flex-direction: column;
          height: 100%;
          width: 100%;

          .rooms-overview--room-block--title {
            color: $color-theme-primary;
            font-weight: 600;
            font-size: 1.1rem;
          }

          i {
            color: $color-theme-primary;
            font-size: 5rem;
            width: 100%;
            text-align: center;
          }
        }
      }
    }

    .active-room-block {
      ::ng-deep {
        color: $color-white;

        section {
          background-color: $color-theme-secondary;
        }
      }
    }
  }

  .rooms-overview--empty-block {
    ::ng-deep {
      section {
        min-height: 450px;
        height: 85vh;
      }
    }

    .rooms-overview--empty-block--upper-part,
    .rooms-overview--empty-block--lower-part {
      height: 20%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: center;

      .rooms-overview--empty-block-title {
        color: $color-theme-primary;
        margin-bottom: $gutter;
      }

      .rooms-overview--empty-block-action-text {
        margin-top: $gutter;
        color: $color-theme-primary;
        text-decoration: underline;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}


.icon {
  font-size: 2.5rem;
  color: $color-theme-light-grey;
}

.icon-bin:hover {
  color: $color-red;
  cursor: pointer;
}

.icon-pencil:hover {
  color: $color-theme-primary;
  cursor: pointer;
}

.app-action_rooms-overview{
  z-index: 1000;
}
