<div class="modal-background">
  <section class="modal-container">
    <ng-container class="injected-content" #target></ng-container>
    <!--<app-default-button-->
      <!--class="modal&#45;&#45;close-button"-->
      <!--[text]="'close'"-->
      <!--[buttonType]="buttonType"-->
      <!--[buttonClass]="buttonClass"-->
      <!--[buttonSize]="buttonSize"-->
      <!--[icon]="'cross'"-->
      <!--[clickEvent]="closeModal()"-->
      <!--[width]="'5rem'"-->
      <!--[height]="'2rem'"-->
    <!--&gt;</app-default-button>-->
  </section>
</div>
