<ng-container class="edit-item-modal--container" *ngIf="!!item">
  <app-container>
    <form *ngIf="!!itemForm" #form class="edit-item-modal--container" [formGroup]="itemForm">
      <h1 class="edit-item-modal--title">Item</h1>
      <div class="edit-item-modal--formgroup formgroup__name">
        <div class="form-block edit-item-modal--formgroup__left-block">
          <label for="edit-item-modal--name-input">Name: </label>
          <input *ngIf="editElement === 'name'; else nameText" id="edit-item-modal--name-input" type="text"
                 formControlName="itemName" [(ngModel)]="item.name" (keydown)="saveInput($event)"/>
          <ng-template #nameText>
            <p class="edit-item--name">{{item.name}}</p>
          </ng-template>
        </div>
        <div class="form-block edit-item-modal--formgroup__right-block">
          <app-default-button *ngIf="editElement !== 'name'" class="edit-item--edit-name-button"
                              [buttonType]="buttonType"
                              [buttonSize]="buttonSizeSmall"
                              [buttonClass]="buttonClassEdit"
                              [borderRadius]="100"
                              [width]="'40px'"
                              [height]="'40px'"
                              [icon]="'pencil'"
                              (click)="editElement = 'name'"
          ></app-default-button>
        </div>
      </div>
      <div class="edit-item-modal--formgroup">
        <div class="form-block edit-item-modal--formgroup__left-block">
          <label>Amount needed: </label>
          <div class="amount-group">
            <p>{{item.amountWanted}}</p>
            <div class="amount-group-actions">
              <app-default-button class="number-action-button"
                                  [buttonClass]="defaultClass"
                                  [buttonType]="defaultType"
                                  [buttonSize]="buttonSizeSmall"
                                  [borderRadius]="100"
                                  [width]="'30px'"
                                  [height]="'30px'"
                                  [text]="'-'"
                                  [hasShadow]="true"
                                  (click)="reduceAmountNeeded()">
              </app-default-button>
              <app-default-button class="number-action-button"
                                  [buttonClass]="defaultClass"
                                  [buttonType]="defaultType"
                                  [buttonSize]="buttonSizeSmall"
                                  [borderRadius]="100"
                                  [width]="'30px'"
                                  [height]="'30px'"
                                  [text]="'+'"
                                  [hasShadow]="true"
                                  (click)="addAmountNeeded()">
              </app-default-button>
            </div>
          </div>
        </div>
      </div>
      <div class="edit-item-modal--formgroup">
        <div class="form-block edit-item-modal--formgroup__left-block">
          <label>Amount Owned: </label>
          <div class="amount-group">
            <p>{{item.amountOwned}}</p>
            <div class="amount-group-actions">
              <app-default-button class="number-action-button"
                                  [buttonClass]="defaultClass"
                                  [buttonType]="defaultType"
                                  [buttonSize]="buttonSizeSmall"
                                  [borderRadius]="100"
                                  [width]="'30px'"
                                  [height]="'30px'"
                                  [text]="'-'"
                                  [hasShadow]="true"
                                  (click)="reduceAmountOwned()">
              </app-default-button>
              <app-default-button class="number-action-button"
                                  [buttonClass]="defaultClass"
                                  [buttonType]="defaultType"
                                  [buttonSize]="buttonSizeSmall"
                                  [borderRadius]="100"
                                  [width]="'30px'"
                                  [height]="'30px'"
                                  [text]="'+'"
                                  [hasShadow]="true"
                                  (click)="addAmountOwned()">
              </app-default-button>
            </div>
          </div>
        </div>
      </div>
      <div class="edit-item-modal--formgroup formgroup__price">
        <div class="form-block edit-item-modal--formgroup__left-block">
          <label for="edit-item-modal--price">Price per piece: </label>
          <input id="edit-item-modal--price" type="number" formControlName="price" [(ngModel)]="item.costPerItem"
                 (keydown)="handleNumberInput($event)"/>
        </div>
      </div>
      <div class="edit-item-modal--formgroup">
        <div class="form-block edit-item-modal--formgroup__left-block">
          <label>Image: </label>
          <i class="icon icon-image"></i>
        </div>
      </div>
      <div class="edit-item-modal--formgroup">
        <div class="form-block edit-item-modal--formgroup__left-block">
          <label>Colors: </label>
          <div class="colors-pickers">
            <app-default-button class="color-picker-btn"
                                [buttonClass]="colorPickerClass"
                                [buttonType]="defaultType"
                                [buttonSize]="buttonSizeSmall"
                                [color]="!!item.colors && !!item?.colors[0]?.value ? item?.colors[0]?.value : '?'"
                                [borderRadius]="100"
                                [width]="'30px'"
                                [height]="'30px'"
                                [hasShadow]="true"
                                [cpPosition]="cpPositionTopRight"
                                (handleColorChange)="setColor(0, item?.colors[0].id, $event)">
            </app-default-button>
            <app-default-button class="color-picker-btn"
                                [buttonClass]="colorPickerClass"
                                [buttonType]="defaultType"
                                [buttonSize]="buttonSizeSmall"
                                [borderRadius]="100"
                                [width]="'30px'"
                                [height]="'30px'"
                                [color]="!!item.colors && !!item?.colors[1]?.value ? item?.colors[1]?.value : '?'"
                                [hasShadow]="true"
                                [cpPosition]="cpPositionTopRight"
                                (handleColorChange)="setColor(1, item?.colors[1].id, $event)">
            </app-default-button>
            <app-default-button class="color-picker-btn"
                                [buttonClass]="colorPickerClass"
                                [buttonType]="defaultType"
                                [buttonSize]="buttonSizeSmall"
                                [borderRadius]="100"
                                [width]="'30px'"
                                [height]="'30px'"
                                [color]="!!item.colors && !!item?.colors[2]?.value ? item?.colors[2]?.value : '?'"
                                [hasShadow]="true"
                                [cpPosition]="cpPositionTop"
                                [cpOffset]="'-100%'"
                                (handleColorChange)="setColor(2, item?.colors[2].id, $event)">
            </app-default-button>
            <app-default-button class="color-picker-btn"
                                [buttonClass]="colorPickerClass"
                                [buttonType]="defaultType"
                                [buttonSize]="buttonSizeSmall"
                                [borderRadius]="100"
                                [width]="'30px'"
                                [height]="'30px'"
                                [color]="!!item.colors && !!item?.colors[3]?.value ? item?.colors[3]?.value : '?'"
                                [hasShadow]="true"
                                [cpPosition]="cpPositionTopLeft"
                                (handleColorChange)="setColor(3, item?.colors[3].id, $event)">
            </app-default-button>
            <app-default-button class="color-picker-btn"
                                [buttonClass]="colorPickerClass"
                                [buttonType]="defaultType"
                                [buttonSize]="buttonSizeSmall"
                                [borderRadius]="100"
                                [width]="'30px'"
                                [height]="'30px'"
                                [color]="!!item.colors && !!item?.colors[4]?.value ? item?.colors[4]?.value : '?'"
                                [hasShadow]="true"
                                [cpPosition]="cpPositionTopLeft"
                                (handleColorChange)="setColor(4, item?.colors[4].id, $event)">
            </app-default-button>
          </div>
        </div>
      </div>
      <div class="edit-item-modal--formgroup">
        <div class="form-block edit-item-modal--formgroup__left-block">
          <label for="edit-item-modal--url">Url: </label>
          <input *ngIf="editElement === 'url'; else urlText" id="edit-item-modal--url" type="text"
                 formControlName="urlLink" [(ngModel)]="item.urlLink" (keydown)="saveInput($event)"/>
          <ng-template #urlText>
            <a (click)="openUrl($event)" href="{{item.urlLink || '#'}}">{{item.urlLink || 'no url'}}</a>
          </ng-template>
        </div>
        <div class="form-block edit-item-modal--formgroup__right-block">
          <app-default-button *ngIf="editElement !== 'url'" class="edit-item--edit-url-button"
                              [buttonType]="buttonType"
                              [buttonSize]="buttonSizeSmall"
                              [buttonClass]="buttonClassEdit"
                              [borderRadius]="100"
                              [width]="'40px'"
                              [height]="'40px'"
                              [icon]="'pencil'"
                              (click)="editElement = 'url'"
          ></app-default-button>
        </div>
      </div>
      <div class="edit-item-modal--formgroup">
        <label>Locked: </label>
        <p>TODO</p>
      </div>
      <div class="edit-item-modal--formgroup" *ngIf=" item.alternatives && item.alternatives.length > 0">
        <label>Alternatives: </label>
        <div *ngFor="let alternativeItem of alternatives"
             class="edit-item--alternatives-container}}">
          <app-room-item [item]="alternativeItem" [isSelected]="alternativeItem.id == item?.id">
          </app-room-item>
        </div>
      </div>
      <div class="edit-item-modal--formgroup" *ngIf="item.alternativeOf > 0">
        <label for="edit-item-modal--alternative">Alternative of: </label>
        <input id="edit-item-modal--alternative" type="text" formControlName="alternativeOf"
               [(ngModel)]="item.alternativeOf"/>
      </div>
    </form>
  </app-container>
  <app-action>
    <p class="edit-item-modal--cancel" (click)="cancel()">Cancel</p>
    <app-validation [validationClass]="'update-room-item'">
      <app-default-button class="edit-item-modal--edit-item"
                          [buttonType]="buttonType"
                          [buttonSize]="buttonSizeMed"
                          [buttonClass]="buttonClassSubmit"
                          [borderRadius]="20"
                          [text]="'Save'"
                          (click)="handleSubmit()"
      ></app-default-button>
    </app-validation>
  </app-action>
</ng-container>
