<ng-container *ngIf="room && items">
  <app-subheader [title]="room.name" [icon]="room.icon"></app-subheader>
  <div class="room--container">
    <div class="room--section-header">
      <p class="room--section-header--title">Items</p>
      <div class="room--section-header--action">
        <p class="room--section-header--action--text" (click)="back()">Back</p>
        <app-default-button class="room--section-header--action--button"
                            [text]="'+'"
                            [buttonSize]="backButtonSize"
                            [buttonType]="backButtonType"
                            [buttonClass]="backButtonClass"
                            [width]="'35px'"
                            [height]="'35px'"
                            [borderRadius]="25"
                            [clickEvent]="getAddItemToRoom()">
        </app-default-button>
      </div>
    </div>
    <div *ngIf="items.length === 0; else roomItems" class="room--empty-container">
      <app-section>
        <div class="rooms--empty-data-block">
          <i class="rooms--empty-data--logo icon icon-grid"></i>
          <p class="rooms--empty-data--text">No data could be found</p>
        </div>
      </app-section>
    </div>
  </div>
  <ng-template #roomItems>
    <app-section>
      <h1 class="room-overview--title">Overview</h1>
      <div class="room-overview--group">
        <div class="room--overview--group-element">
          <label>Amount</label>
          <p>{{getTotalItems()}}</p>
        </div>
        <div class="room--overview--group-element">
          <label>Total Cost</label>
          <p>{{getTotalCost()}}</p>
        </div>
        <div class="room--overview--group-element">
          <label>To pay</label>
          <p>{{getToPay()}}</p>
        </div>
      </div>
    </app-section>
    <app-section>

      <p class="room-overview--items--title">Items</p>
      <div class="room-overview--items">
        <div *ngFor="let item of items"
             class="room-overview--items-container {{item.id == selectedItem?.id ? 'selectedItem' : ''}}">
          <app-room-item [item]="item" [isSelected]="item.id == selectedItem?.id"
                         (emitSelectItem)="selectItem($event)" (emitAddItemAmount)="addItemAmount($event)"
                         (emitReduceItemAmount)="reduceItemAmount($event)">
          </app-room-item>
        </div>
      </div>
    </app-section>
  </ng-template>
</ng-container>
