@import "~src/styles";

.room--container {
  padding: $gutter;
  width: 100%;

  br {
    height: 0.1rem;
  }

  .room--section-header {
    max-width: 1266px;
    margin: 0 auto;
    padding: $gutter;
    height: 4rem;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    .room--section-header--title {
      display: flex;
      color: $color-theme-primary;
      font-size: 1.5rem;
      font-weight: 400;
      float: left;
      width: 25%;
    }

    .room--section-header--action {
      float: right;
      display: flex;
      width: 100px;
      align-items: center;
      justify-content: space-around;

      .room--section-header--action--text {
        text-decoration: underline;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .room--empty-container {
    ::ng-deep {

      section {
        min-height: 70vh;
      }

      .rooms--empty-data-block {
        position: absolute;
        display: inline-block;
        top: 50%;
        width: 100%;
        color: $color-theme-light-grey;
        text-align: center;
        z-index: 10;

        .rooms--empty-data--logo {
          color: $color-theme-light-grey;
          font-size: 5rem;
          text-align: center;
          z-index: 10;
        }

        .rooms--empty-data--text {
          margin-top: $gutter;
        }
      }
    }
  }

  ::ng-deep {

    .room-overview--title {
      color: $color-theme-primary;
    }

    .room-overview--group {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;

      .room--overview--group-element {
        display: block;

        > * {
          width: 100%;
          margin: 0 auto;
          text-align: center;
        }
      }
    }

    .room-overview--items--title {
      color: $color-theme-dark-grey;
      align-self: flex-start;
      margin-bottom: 1rem;
    }


    .room-overview--items {
      align-self: flex-start;
      max-width: 100%;

    }

    .room-overview--items-container {
      position: relative;
      display: inline-block;
      align-self: flex-start;
      width: 25rem;
      max-width: 100%;
      height: 5rem;
      @include shadow_base;
      @include rectangle-block-primary;
      padding: ($gutter/2) ($gutter/2) ($gutter/2) ($gutter * 2);
      margin: 0.25rem;

      &:hover {
        cursor: pointer;
        transform: scale(1.01);
      }

      &.selectedItem {
        @include rectangle-block-secundary;
        padding: ($gutter/2) ($gutter/2) ($gutter/2) (30%);

        .room-overview--items-data-block .room-overview--items-name {
          color: $color-theme-secondary !important;
        }
      }

      .room-overview--items-data-block {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: row;
        justify-content: space-between;

        .room-overview--items--right-side__selected {
          display: flex;
          flex-direction: row;
          width: 25%;
          justify-content: space-between;
        }

        > .room-overview--items-amount-block__unselected,
        .room-overview--items-amount-block__selected {
          align-self: flex-end;
          justify-content: space-between;
          flex-direction: column;
          height: 100%;
          display: flex;
        }

        .room-overview--items-amount-block__selected,
        .room-overview--items-name-and-cost-block {
          justify-content: center;
        }

        .room-overview--selected-item-amount-btn {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
        }

        .room-overview--items-name-and-cost-block {
          justify-content: space-between;
          flex-direction: column;
          display: flex;

          .room-overview--items-name {
            color: $color-theme-primary;
            font-size: $font-size-mobile-base * 1.25;
            font-weight: 600;
          }
        }
      }
    }
  }
}
