@import "~src/styles";

:host {
  height: 100%;
}

.add-item-modal--container {
  display: inline-block;
  height: 100%;
  width: 100%;

  .add-item-modal--title {
    color: $color-theme-primary;
    font-size: 1.25rem;
    margin-bottom: $gutter;
  }

  .add-item-modal--formgroup {
    margin-bottom: $gutter;
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .add-item-modal--actions {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: $gutter *2;

    .add-item-modal--cancel {
      text-decoration: underline;
      font-weight: 800;

      &:hover,
      &:active {
        color: $color-theme-primary;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  label {
    display: inline-block;
    position: relative;
    width: 25%;
  }

  input {
    display: inline-block;
    position: relative;
    width: 70%;
  }
}
