@import "../1-settings";

/**
 * #############################################################################
 *
 * Generic: Body
 *
 * #############################################################################
 */

html,
body {
  height: 100%;
  background-color: $color-theme-background;

  font-family: 'Open Sans', sans-serif;
}
