@import "../1-settings";
/**
############################## DEFAULT BUTTON #############################################
 */

button {
  > *:hover {
    cursor: pointer;
  }
  &:hover {
   cursor: pointer;
  }
}

.basic-button__size--small {
  width: 4rem;
  height: 2rem;
  font-weight: 400;
}

.basic-button__size--medium {
  width: 6rem;
  height: 3rem;
  font-weight: 600;
}

.basic-button__size--big {
  width: 8rem;
  height: 4rem;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1rem;
}

.basic-button__type--default {
  background-color: $color-white;
  color: $color-theme-dark-grey;
}

.basic-button__type--primary {
  background-color: $color-theme-primary;
  color: $color-white;
}

.basic-button__type--secondary {
  background-color: $color-white;
  color: $color-theme-primary;
}
