@import "../1-settings";
@import "../2-tools";
/**
############################## DEFAULT BUTTON #############################################
 */

button {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

  @include transition_width_fast;
  @include transition_background-color_fast;


  > * {
    transition: none;

    &:hover {
      cursor: pointer;
    }
  }
  &:hover {
   cursor: pointer;
  }

  input {
    background: none;
    border: none;
    width: 300px;
    height: 100%;
    text-align: center;
    color: white;
    font-size: 4rem;
    letter-spacing: 1rem;
  }
}

.basic-button__shadow{
  @include shadow_base;
}

.basic-button__size--small {
  width: 4rem;
  height: 2rem;
  font-weight: 400;
}

.basic-button__size--medium {
  width: 6rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 600;
}

.basic-button__size--big {
  width: 8rem;
  height: 4rem;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1rem;
}

.basic-button__size--xl {
  width: 10rem;
  height: 5rem;
  font-weight: 700;
  font-size: 4rem;
  line-height: 1rem;
}

.basic-button__type--default {
  background-color: $color-white;
  color: $color-theme-dark-grey;

  &:hover{
    background-color: lighten($color-white, 30);
  }
}

.basic-button__type--success {
  background-color: $color-green;
  color: $color-white;

  &:hover{
    background-color: lighten($color-green, 30);
  }
}

.basic-button__type--primary {
  background-color: $color-theme-primary;
  color: $color-white;

  &:hover{
    background-color: lighten($color-theme-primary, 30);
  }
}

.basic-button__type--secondary {
  background-color: $color-white;
  color: $color-theme-primary;

  &:hover{
    background-color: lighten($color-white, 30);
  }
}

.basic-button__type--error {
  background-color: $color-red;
  color: $color-white;

  &:hover{
    background-color: lighten($color-red, 30);
  }
}



.basic-button__type--default_border_only {
  background-color: $total-transparent;
  color: $color-theme-dark-grey;
  border: solid 0.1rem $color-white;

  &:hover{
    background-color: lighten($total-transparent, 30);
  }
}

.basic-button__type--primary_border_only {
  background-color: $total-transparent;
  color: $color-white;
  border: solid 0.1rem $color-theme-primary;

  &:hover{
    background-color: lighten($total-transparent, 30);
  }
}

.basic-button__type--secondary_border_only {
  background-color: $total-transparent;
  color: $color-theme-primary;
  border: solid 0.1rem $color-white;

  &:hover{
    background-color: lighten($total-transparent, 30);
  }
}

.basic-button__type--white_border_only {
  background-color: $total-transparent;
  color: $color-white;
  border: solid 0.1rem $color-white;

  &:hover{
    background-color: lighten($total-transparent, 30);
  }
}

.basic-button__type--primary_text_only {
  background-color: $total-transparent;
  color: $color-theme-primary;
  border: solid 1px $total-transparent;

  &:hover{
    color: lighten($color-theme-primary, 30);
  }
}


.basic-button__type--error_border_only {
  background-color: $total-transparent;
  color: $color-white;
  border: solid 0.1rem $color-red;

  &:hover{
    background-color: lighten($total-transparent, 30);
  }
}

.basic-button__type--error_border_and_text {
  background-color: $total-transparent;
  border: solid 0.1rem $color-red;
  & > * {
    color: $color-red;
  }

  &:hover{
    background-color: lighten($total-transparent, 30);
  }
}
