@import "~src/styles";

:host {
  height: 100%;
}

.subheader--container {
  display: flex;
  width: 100vw;
  max-width: 100vw;
  height: 7rem;

  flex-direction: row;

  color: $color-white;

  @include subheader-gradient;

  .subheader--left-block,
  .subheader--right-block {
    padding: $gutter;
    display: flex;
    flex-direction: row;
    height: auto;
    align-items: flex-end;
  }

  .subheader--left-block {
    width: 70vw;
  }

  .subheader--right-block {
    width: 30vw;

    i {
      font-size: 5rem;
    }
  }

}
